*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.eggs
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Mr Developer
.idea/

# virtualenvs
python/

# vim swp files
*.swp

# Sphinx documentation
docs/_build/
